<form method="POST" action="{% url 'Calificaciones:Calificar' object.pk %}">
	{% csrf_token %}
	<div style="float: left;" class="valoracion">
		<button type="submit" class="myradio">
			<label for="id_calificacion_5">
				5
				<span class="radio"><input type="radio" name="calificacion" value="5" id="id_calificacion_5" required=""></span>
			</label>
		</button>
		<button type="submit" class="myradio">
			<label for="id_calificacion_4">
				4
				<span class="radio"><input type="radio" name="calificacion" value="4" id="id_calificacion_4" required=""></span>
			</label>
		</button>
		<button type="submit" class="myradio">
			<label for="id_calificacion_3">
				3
				<span class="radio"><input type="radio" name="calificacion" value="3" id="id_calificacion_3" required=""></span>
			</label>
		</button>
		<button type="submit" class="myradio">
			<label for="id_calificacion_2">
				2
				<span class="radio"><input type="radio" name="calificacion" value="2" id="id_calificacion_2" required=""></span>
			</label>
		</button>
		<button type="submit" class="myradio">
			<label for="id_calificacion_1">
				1
				<span class="radio"><input type="radio" name="calificacion" value="1" id="id_calificacion_1" required=""></span>
			</label>
		</button>
		
		
		
		
	</div>
	
</form>


	