{% extends "Base.html" %}
{% block title %}
<title> <- Editar Perfil - {{user.username}} -> </title>
{% endblock title %}
{% block content %}
<br>
<hr>
<br>
<br>

{{form.errors}}
<form method="POST" enctype="multipart/form-data" >
    {% csrf_token %}    
    <div class="jumbotron">
        <h2 class="display-4">Editar {{user.username}}!!!</h2>
        <hr>
        <br>    
            {{form}}
        <center><input type="submit"  class="btn btn-primary" value="Validar Cambios"></center>
        
    </div>
</form>
{% endblock content %}