{% extends 'Home.html' %}

{% block title %}

<title>Login</title>

{% endblock title %}


{% block content %}

<form method="POST">
    {% csrf_token %}
    
    <input type="text" name="username" style="border-radius: 5px;" placeholder="Usuario">
    <input type="password" name="password" style="border-radius: 5px;" placeholder="Contraseña">
    <input type="submit" class="bt btn-primary" style="border-radius: 5px;" name="" value="Ingresar">
    <input type="hidden" name="next" value="{{next}}">
    {% if form.errors %}
    <div class="container" style="padding: 15px; text-align: left;">
        <p class="text-warning">Su usuario y/o contraseña no son válidos</p>
    </div>
    {% endif%}
</form>

{% endblock content %}