{% extends "Base.html" %}

{% block content %}
  
<div class="container">
    <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">        
                    <table id="TableT" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Especialidad</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %} 
                        <tr>
                        <td>{{ object.usuario.first_name }}</td>

                        <td>{{ object.especialidad }}</td>
                        <td><a href="{% url 'Trabajadores:mostrarPerfil' object.pk %}">PERFIL</a></td>
                    <!-- If objet_list is empty  -->
                        
                        </tr>
                        {% empty %} 
        
<strong>No objects yet. </strong> 
                        {% endfor %}

                    </tbody>        
                   </table>                  
                </div>
            </div>
    </div>  
</div>



{% endblock content %}
