{% extends "Base.html" %}
{% block title %}
<title> Trabajadores </title>
{% endblock title %}
{% block content %}


    <div class="container" style="border-radius: 5px; margin: 10px; padding: 10px; background-color: rgba(255, 255, 255, 0.959); filter:alpha(opacity=80); opacity:0.8;">
        <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">        
                        <table id="TableT" class="display table table-hover table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Ranking</th>
                                <th>Nombre</th>
                                <th class="select-filter">Rubro</th>
                                <th>Especialidad</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for object in object_list %} 
                            <tr data-url="{% url 'Trabajadores:mostrarPerfil' object.pk %}">
                            <td>{{ object.promedio|floatformat:"0" }}/5</td>
                            <td>{{ object.usuario.first_name}} {{object.usuario.last_name }}</td>

                            <td>{{ object.rubro }}</td>
                            <td>{{object.especialidad}}</td>
                            
                        <!-- If objet_list is empty  -->
                            
                            </tr>
                            {% empty %} 
            
    <strong>No objects yet. </strong> 
                            {% endfor %}

                        </tbody>  
                        <tfoot>
                            <th ></th>
                            <th > </th>
                                <th >Rubro</th>
                                <th ></th>

                        </tfoot>      
                    </table>                  
                    </div>
                </div>
        </div>  
    </div>
 



{% endblock content %}
