{% extends 'Base.html' %}
{% block title %}

<title> Perfil {{object.usuario.first_name}} </title>
{% endblock title %}

{% block content %}
<header class="mostrarPerfilHeader">
</header>
    <div class="container h-100">
        <ul class="list-group">
            <div class="jumbotron"> 
                <h2 class="display-4">Perfil: {{object.usuario.last_name}}, {{object.usuario.first_name}}</h2>
                <hr>
                <br>    
                <div class="form-row">
                    <div class="form-group col-md-4">
                        
                        
                        
                        <div class="card" style="width: 18rem;">
                            <div class="card-header">
                              Datos personales
                            </div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">Nombre: {{object.usuario.first_name}}</li>
                              <li class="list-group-item">Nombre: {{object.usuario.last_name}}</li>
                              <li class="list-group-item">Especialidad: {{object.especialidad}}</li>
                            </ul>
                          </div>
    
                    </div>
                    <div class="form-group col-md-4">
                        
                        <div class="card" style="width: 18rem;">
                            <div class="card-header">
                              Datos contacto
                            </div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">Telefono: {{object.usuario.phone}}</li>
                              <li class="list-group-item">Email: {{object.usuario.email}}</li>
                              <li class="list-group-item">Direccion: {{object.usuario.address}}</li>
                            </ul>
                          </div>
                        
                    </div>
                    <div class="form-group col-md-4">
                  
                        <div class="card" style="width: 18rem;">
                            <div class="card-header">
                              Puntaje/Rubro/Zonas
                            </div>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">Ranking: {{object.promedio|floatformat:"0" }}/5</li>
                              <li class="list-group-item">Rubro: {{object.rubro}}</li>
                              {% for z in object.zonas.all %}
                                <li class="list-group-item">{{z}}</li>
                              {% endfor %}
                            </ul>
                          </div>
                    </div>

                    <div class="form-group col-md-4">    
                            {%if object.certificado %}
                                <button data-target=".bd-image-modal-lg" data-toggle="modal"><img  src="{{object.certificado.url}}" alt="" width="270" height="270" ></button>
                            {%else%}
                                <h4>   Sin Imagen....</h4>
                                    
                            {%endif%}
                    </div>          
        
                        <div class="form-group col-md-4">
                             <iframe src="https://maps.google.com/maps?q=@{{ coord }}&output=embed" width="280" height="280" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                </div>
            </div>
            <hr>
            <h3>Comentarios de los usuarios...</h3>
            {% include 'Usuarios/Trabajadores/Mostrar_Comentarios.html' %}
            {% if not user.is_authenticated %}
            <P>PARA CALIFICAR Y COMENTAR DEBE ESTAR LOGUEADO</P>
            <a href="{% url 'Stalkers:registro' %}" class="btn btn-warning">Register</a>
            <a href="{% url 'login' %}" class="btn btn-warning">Login</a>
            {% else %}
                
                <div class="container">
                  <div class="row">
                    <div class="col-6">
                      {% include 'Comentarios/Comentar.html' %}
                    </div>
                    <div class="col-2">
                      
                    </div>
                    <div class="col-3">
                      <br><br>
                      <label for="coment">Califica con estrellas !!!!</label>
                      <center>{% include 'Calificaciones/Calificar.html' %}</center>
                    </div>
                  </div>
                </div>
              
            {% endif %}
        </ul>
        <br><br><br>
      </div>


    <div class="modal fade bd-image-modal-lg" id="ImagenModal" tabindex="-1" role="dialog" aria-labelledby="Registro" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <img src="{{object.certificado.url}}" alt="" width="766" height="400">
            </div>
        </div>
        </div>
    </div>   
{% endblock content %}