{% extends 'Base.html' %}
{% block content %}
<ul>
    <li>{{object.usuario.first_name}}</li>
    <li>{{object.usuario.last_name}}</li>
    <li>{{object.usuario.email}}</li>
    <li>{{object.usuario.address}}</li>
    <li>{{object.usuario.phone}}</li>
    <li>{{object.promedio|floatformat:2}}</li>
    <li>{{object.especialidad}}</li>
    <li>{{object.rubro}}</li>
    {% for z in object.zonas.all %}
    <li>{{z}}</li>
    {% endfor %}
    <li></li><img src="{{object.certificado.url}}" alt=""></li>
    
    {% include 'Usuarios/Trabajadores/Mostrar_Comentarios.html' %}
    {% if not user.is_authenticated %}
    <P>PARA CALIFICAR Y COMENTAR DEBE ESTAR LOGUEADO</P>
    <a href="{% url 'Stalkers:registro' %}" class="btn btn-warning">Register</a>
    <a href="{% url 'login' %}" class="btn btn-warning">Login</a>
    {% else %}
    {% include 'Comentarios/Comentar.html' %}
    {% include 'Calificaciones/Calificar.html' %}
    {% endif %}
</ul>
{% endblock content %}