{% extends 'Base.html' %}
{% block title %}

<title> Perfil {{object.usuario.first_name}} </title>
{% endblock title %}

{% block content %}
<header class="mostrarPerfilHeader">
</header>
    <div class="container h-100">
        <ul class="list-group">
            <div class="jumbotron"> 
                <h2 class="display-4">Perfil: {{object.usuario.last_name}}, {{object.usuario.first_name}}</h2>
                <hr>
                <br>    
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <li class="list-group-item active">Nombre: {{object.usuario.first_name}}</li>
                        <li class="list-group-item">Apellido: {{object.usuario.last_name}}</li>
                    </div>
                    <div class="form-group col-md-4">
                        <li class="list-group-item active">Email: {{object.usuario.email}}</li>
                        <li class="list-group-item">Direccion: {{object.usuario.address}}</li>
                    </div>
                    <div class="form-group col-md-4">
                        <li class="list-group-item active">Telefono: {{object.usuario.phone}}</li>
                        <li class="list-group-item">Ranking: {{object.promedio|floatformat:"0" }}/5</li>
                    </div>
                    <div class="form-group col-md-4">
                        <li class="list-group-item active">Especialidad: {{object.especialidad}}</li>
                        <li class="list-group-item">Rubro: {{object.rubro}}</li>
                        {% for z in object.zonas.all %}
                        <li class="list-group-item active">{{z}}</li>
                        {% endfor %}
                    </div>
                        <br>
                        {%if object.certificado%}
                            <button data-target=".bd-image-modal-lg" data-toggle="modal"><img  src="{{object.certificado.url}}" alt="" width="200" height="200" ></button>
                        {%else%}
                            <h4>   Sin Imagen....</h4>
                                
                        {%endif%}
                </div>
                <div class="form-group col-md-4">
                    <br>
                    <div>
                        
                        <iframe src="https://maps.google.com/maps?q=@{{ coord }}&output=embed" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                   </div>
                </div>
            </div>
            
            {% include 'Usuarios/Trabajadores/Mostrar_Comentarios.html' %}
            {% if not user.is_authenticated %}
            <P>PARA CALIFICAR Y COMENTAR DEBE ESTAR LOGUEADO</P>
            <a href="{% url 'Stalkers:registro' %}" class="btn btn-warning">Register</a>
            <a href="{% url 'login' %}" class="btn btn-warning">Login</a>
            {% else %}
                {% include 'Comentarios/Comentar.html' %}
                {% include 'Calificaciones/Calificar.html' %}
            {% endif %}
        </ul>
    </div>

    <div class="modal fade bd-image-modal-lg" id="ImagenModal" tabindex="-1" role="dialog" aria-labelledby="Registro" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <img src="{{object.certificado.url}}" alt="" width="766" height="400">
            </div>
        </div>
        </div>
    </div>   
{% endblock content %}